.job-list
  .list
    %h2 Aborted Jobs
    %table.table.datatable.jobs-datatable{ style: "width: 100%", data: { source: "#{aborted_jobs_url(format: 'json')}" } }
      %thead
        %tr
          %th Class
          %th Description
          %th Aborted
      %tbody
