.job-list
  .list
    %h2 Completed Job
    %table.table.datatable.jobs-datatable{ style: "width: 100%", data: { source: "#{completed_jobs_url(format: 'json')}" } }
      %thead
        %tr
          %th Class
          %th Description
          %th Duration
          %th Completed
      %tbody
