.job-list
  .list
    %h2 Failed Jobs
    %table.table.datatable.jobs-datatable{ style: "width: 100%", data: { source: "#{failed_jobs_url(format: 'json')}" } }
      %thead
        %tr
          %th Class
          %th Description
          %th Failed
      %tbody
