.job-list
  .list
    %h2 Queued Jobs
    %table.table.datatable.jobs-datatable{ style: "width: 100%", data: { source: "#{queued_jobs_url(format: 'json')}" } }
      %thead
        %tr
          %th Class
          %th Description
          %th Priority
          %th Queued For
      %tbody
