.job-list
  .list
    %h2 Running Jobs
    %table.table.datatable.jobs-datatable{ style: "width: 100%", data: { source: "#{running_jobs_url(format: 'json')}" } }
      %thead
        %tr
          %th Class
          %th Description
          %th Progress
          %th Priority
          %th Started
      %tbody
