.job-list
  .list
    .row
      .col-sm-10
        %h2 Running Jobs
      .col-sm-2
        .btn.btn-default.pull-right.dt-reload{ data: { behavior: 'reload' } }
          %i.fa.fa-refresh
    %table.table.datatable.jobs-datatable{ style: "width: 100%", data: { source: "#{running_jobs_url(format: 'json')}" } }
      %thead
        %tr
          %th Class
          %th Description
          %th Progress
          %th Priority
          %th Started
          %th Actions
      %tbody

:javascript
  jQuery(function() {
    new RjmcDatatable(
      $(".jobs-datatable"),
      [{data: '0'}, {data: '1'}, {data: '2', orderable: false}, {data: '3'}, {data: '4'}, {data: '5', orderable: false}]);
  });
