.job-list
  .list
    .row
      .col-sm-10
        %h2 Scheduled Jobs
      .col-sm-2
        .btn.btn-default.pull-right.dt-reload{ data: { behavior: 'reload' } }
          %i.fa.fa-refresh
    %table.table.datatable.jobs-datatable{ style: "width: 100%", data: { source: "#{scheduled_jobs_url(format: 'json')}" } }
      %thead
        %tr
          %th Class
          %th Description
          %th Runs in
          %th Cron Schedule
      %tbody

:javascript
  jQuery(function() {
    new RjmcDatatable(
      $(".jobs-datatable"),
      [{data: '0'}, {data: '1'}, {data: '2'}, {data: '3'}]);
  });
