- if server.stopping?
  %p Server is stopping...
  = link_to "destroy", server_path(server), method: :delete, class: 'btn btn-danger'
-else
  = link_to "stop", stop_server_path(server), method: :patch, class: 'btn btn-danger'
  - if server.paused?
    = link_to "resume", resume_server_path(server), method: :patch, class: 'btn btn-default'
  - else
    = link_to "pause", pause_server_path(server), method: :patch, class: 'btn btn-default'
