/* Used by Jobs */
.callout {
  border: 1px solid #eee;
  border-left-width: 0.5em;
}
.callout-queued {
  border-left-color: darkgrey;
}
.callout-running {
  border-left-color: #337ab7;
}
.callout-completed {
  border-left-color: green;
}
.callout-paused {
  border-left-color: orange;
}
.callout-failed {
  border-left-color: red;
}
.callout-aborted {
  border-left-color: darkorange;
}

/* Used by Dirmon Entries */
.callout-enabled {
  border-left-color: green;
}
.callout-disabled {
  border-left-color: orange;
}

/* Used by Workers */
.callout-top {
  border: 1px solid #eee;
  border-top-width: 5px;
}
.callout-info-top {
  border-top-color: #1b809e;
}
.callout-success-top {
  border-top-color: #3c763d;
}
.callout-warning-top {
  border-top-color: #aa6708;
}
.callout-alert-top {
  border-top-color: #ce4844;
}
