/* Used by Jobs */
.callout {
  border: 1px solid #eee;
  border-left-width: 0.5em;
}
.callout-queued {
  border-left-color: #A29F00;
  a {
    color: #A29F00;
  }
}
.callout-running {
  border-left-color: #337ab7;
  a {
    color: #337ab7;
  }
}
.callout-sleeping {
  border-left-color: darkcyan;
  a {
    color: darkcyan;
  }
}
.callout-scheduled {
  border-left-color: #92001B;
  a {
    color: #92001B;
  }
}
.callout-completed {
  border-left-color: green;
  a {
    color: green;
  }
}
.callout-paused {
  border-left-color: orange;
  a {
    color: orange;
  }
}
.callout-failed {
  border-left-color: red;
  a {
    color: red;
  }
}
.callout-aborted {
  border-left-color: darkorange;
  a {
    color: darkorange;
  }
}

/* Used by Dirmon Entries */
.callout-pending {
  border-color: orange;
  a {
    color: orange;
  }
}
.callout-enabled {
  border-left-color: green;
  a {
    color: green;
  }
}
.callout-disabled {
  border-left-color: grey;
  a {
    color: grey;
  }
}

/* Used by Servers */
.callout-top {
  border: 1px solid #eee;
  border-left-width: 5px;
}
.callout-info {
  border-left-color: #1b809e;
  .title {
    color: #1b809e;
  }
}
.callout-success {
  border-left-color: #3c763d;
  .title {
    color: #3c763d;
  }
}
.callout-warning {
  border-left-color: #aa6708;
  .title {
    color: #aa6708;
  }
}
.callout-alert {
  border-left-color: #ce4844;
  .title {
    color: #ce4844;
  }
}
.callout-zombie {
  border-left-color: darkred;
  .title {
    color: darkred;
  }
}
