
.buttons{
  padding-top: 1cm;
  padding-left: 3cm;
}

.buttons2{
  padding-top: 7cm;
  padding-left: 6cm;
}

.arguments{
  padding-top: 1cm;
  padding-bottom: 1cm;
}

.title1{
  padding-left: 5cm;
}

.title2{
  padding-left: 6cm;
}