
.buttons{
  padding-top: 1cm;
  padding-left: 4cm;
  text-align: center
}

.buttons2{
  padding-top: 7cm;
  padding-left: 6cm;
}

.arguments{
  padding-top: 1cm;
  padding-bottom: 1cm;
}

.title1{
  text-align: center;
  padding-left: 4cm;
}

.title2{
  padding-left: 6cm;
}

.properties{
  padding-left: 6cm;
}

.label{
  padding-left: 6cm;
}