.job-list {
  .list-top {
    .breadcrumb {
      margin-bottom: 0px;
    }
  }

  .filter {
    padding: 1px 1px 1px 1px;
  }

  .list {
    .progress {
      width: 16em;
      height: 1em;
      margin: 5px 0px 0px 10px;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
    }

    .progress-bar {
      min-width: 1em;
    }
  }
}

.error {
  pre {
    margin: 0px 0px 0px 0px;
    border-bottom: 0;
    border-radius: 0;
    word-wrap: normal;
  }

  pre:last-child {
    border: 1px solid #cccccc;
  }
}

.pagination {
  margin-top: 1em;

  .btn {
    border-radius: 0;
  }
}
