.job-list .breadcrumb {
  margin-bottom: 0px;
}
.job-list .breadcrumb {
  padding: 2px;
}
.job-list .breadcrumb > li {
  margin: 5px 0 0 5px;
}
.job-list .list .progress {
  width: 10em;
  height: 1em;
  margin: 5px 0px 0px 10px;
  display: inline-block;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.job-list .list .progress-bar {
  min-width: 0em;
}
.error pre {
  margin: 0px 0px 0px 0px;
  border-bottom: 0;
  border-radius: 0;
  word-wrap: normal;
}
.error pre:last-child {
  border: 1px solid #ccc;
}
.pagination {
  margin-top: 1em;
}
.pagination .btn {
  border-radius: 0;
}
.input_slices {
  font-size: 14px;
  line-height: 2;
  resize: none;
  width: 100%;
  height: 20em;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 4px;
}
.edit_button {
  float: right;
  margin-left: 3px;
}
.edit_input {
  margin-left: 80px;
}
