.dirmon-list
  .list
    %h2 Disabled Entries
    %table.table.datatable.dirmon-datatable{ style: "width: 100%", data: { source: "#{disabled_dirmon_entries_url(format: 'json')}" } }
      %thead
        %tr
          %th Name
          %th Job Class
          %th Pattern
      %tbody
