.dirmon-list
  .list
    %h2 Failed Entries
    %table.table.datatable.dirmon-datatable{ style: "width: 100%", data: { source: "#{failed_dirmon_entries_url(format: 'json')}" } }
      %thead
        %tr
          %th Name
          %th Job Class
          %th Pattern
      %tbody

:javascript
  jQuery(function() {
    new RjmcDatatable(
      $('.dirmon-datatable'),
      [{data: '0'}, {data: '1'}, {data: '2'}]);
  });
