<%
  previous_offset = [0, pagination[:offset].pred].max
  next_offset = [pagination[:total], pagination[:offset].next].min
  record_number = pagination[:record_number]
%>

<ul class='pagination'>
  <li>
    <%= link_to(view_slice_job_path(error_type: error_type, offset: 0, record_number: record_number), class: "btn btn-default #{page_nav_disabled_class(pagination[:offset], 0)}", title: 'First') do %>
      <i class='fas fa-angle-double-left'></i>
    <% end %>
  </li>

  <li>
    <%= link_to(view_slice_job_path(error_type: error_type, offset: previous_offset, record_number: record_number), class: "btn btn-default #{page_nav_disabled_class(pagination[:offset], 0)}", title: 'Previous') do %>
      <i class='fas fa-angle-left'></i>
    <% end %>
  </li>

  <li>
    <%= link_to(view_slice_job_path(error_type: error_type, offset: next_offset, record_number: record_number), class: "btn btn-default #{page_nav_disabled_class(pagination[:offset], pagination[:total])}", title: 'Next') do %>
      <i class='fas fa-angle-right'></i>
    <% end %>
  </li>

  <li>
    <%= link_to(view_slice_job_path(error_type: error_type, offset: pagination[:total], record_number: record_number), class: "btn btn-default #{page_nav_disabled_class(pagination[:offset], pagination[:total])}", title: 'Last') do %>
      <i class='fas fa-angle-double-right'></i>
    <% end %>
  </li>
</ul>
