<div class="panel panel-danger">
  <div class="panel-heading">
    <h4>Exception</h4>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <label>Class:</label>
        <pre><code class="language-ruby">
<%= @job.exception.class_name %>
        </code></pre>

        <label>Message:</label>
        <pre><code class="language-ruby">
<%= @job.exception.message %>"
        </code></pre>

        <% if @job.exception.backtrace.present? %>
          <label>Backtrace:</label>
          <pre><code class="language-ruby">
<% @job.exception.backtrace.each do |line| %>
  <p><%= line %><p>
<% end %>
          </code></pre>
        <% end %>
      </div>
    </div>
  </div>
</div>
