<div class='lead'>Exception:</div>
<div class='row'>
  <div class='col-md-12'>
    <table>
      <tr>
        <td><label>Exception:</label></td>
        <td><%= @job.exception.class_name %></td>
      </tr>
      <tr>
        <td><label>Message:</label></td>
        <td><%= @job.exception.message %></td>
      </tr>
      <% if @job.exception.backtrace.present? %>
        <tr>
          <td><label>Backtrace:</label></td>
          <td><%= @job.exception.backtrace.ai(html: true, plain: true) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<br/>
