%nav.navbar.navbar-default#jobs-menu
  .container-fluid
    .navbar-header
      %ul.nav.navbar-nav
        %li
          = link_to(root_path(state: 'all')) do
            %i.fa.fa-list
            All
        %li
          = link_to(root_path(state: 'scheduled')) do
            %i.fa.fa-clock-o
            Scheduled
        - job_states.each do |state|
          %li{class: state}
            = link_to(root_path(state: state)) do
              %i.fa{class: job_state_icon(state)}
              = state.capitalize!
