.col-md-4.job-list
  .list
    - @jobs.each do |job|
      = link_to job_path(id: job.id), class: 'card', style: 'min-height: 5em;' do
        .inner
          .title
            .lead{class: job_selected_class(job, @job)}
              %i.fa{class: job_state_icon(job.state)}

              = job_title(job)

          .duration
            - if job.failed?
              %i.fa.fa-bomb
              failed
            - else
              %i.fa.fa-clock-o
              = job_duration(job)
