.col-md-6.job-list
  .job-search-box.input-group
    %input.form-control{ placeholder: "Search", type: "text" }
      %span.input-group-btn
        %button.btn.btn-default{ type: "button" }
          %i.fa.fa-search

  .list
    - @jobs.each do |job|
      = link_to job_path(id: job.id), class: 'card' do
        .inner
          .title.float-left
            %h3
              %i.fa{class: job_state_icon(job.state)}

              = job_title(job)

          .duration
            - if job.failed?
              %i.fa.fa-bomb
              failed
            - else
              %i.fa.fa-clock-o
              = job_duration(job)
