<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Retryable</h4>
  </div>

  <div class="panel-body">
    <pre><code class="language-ruby">

<% @job.failed_at_list.each do |time| %>
<label>Retry Limit:</label> <%= @job.retry_limit %>
<label>Failures:</label> <%= job_time(time) %>

<% end %>
    </code></pre>
  </div>
</div>
