<div class='lead'>Retryable:</div>
<div class='row'>
  <div class='col-md-12'>
    <table>
      <tr>
        <td><label>Retry Limit</label></td>
        <td><%= @job.retry_limit %></td>
      </tr>
      <tr>
        <td><label>Failures</label></td>
        <td><%= @job.failed_at_list.ai(html: true, plain: true) %></td>
      </tr>
    </table>
  </div>
</div>
<br/>
