#queue
  .job-list
    .list
      - if @jobs.empty?
        .title
          .lead.text-center No Jobs Found.
      - else
        %h2
          = current_state
        %table.table.datatable.jobs-datatable{ style: "width: 100%", data: { source: "#{jobs_url(format: 'json')}" } }
          %thead
            %tr
              %th Class
              %th Description
              %th Completion
              %th Duration
          %tbody
