#queue
  = render partial: 'list', locals: { jobs: @jobs }

  .col-md-8.job-status
    #job
      .welcome_screen
        %h1 Welcome to RocketJob!
        %p High volume, priority based, Enterprise Batch Processing solution for Ruby
