.job-list
  .list
    %h2 Jobs
    %table.table.datatable.jobs-datatable{ style: "width: 100%", data: { source: "#{jobs_url(format: 'json')}" } }
      %thead
        %tr
          %th Class
          %th Description
          %th Completion
          %th Duration
      %tbody
