<% if flash.present? %>
  <div class="flash text-center">
    <% flash.each do |key, msg| %>
      <div class="alert alert-<%=key%> alert-dismissible fade show" role="alert">
        <% if msg.kind_of? Array %>
          <ul class="list-unstyled mb-0">
            <% msg.each do |m| %>
              <li><%= m %></li>
            <% end %>
          </ul>
        <% else %>
          <%= msg.to_s %>
        <% end %>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
<% end %>
