#header
  %a#menu-toggle.btn.btn-default.btn-blank.first{href: ""}
    %i.fa.fa-bars
    Menu


  = link_to '..', class: 'btn btn-default btn-blank last' do
    %i.fa.fa-reply
    Back Home


  .clearfix

  .brand
    = link_to root_path, class: 'text-center' do
      = image_tag('rocket_job_mission_control/rocket-icon-64x64.png', size: '32x32')
      rocket
      %span job
