<div id='sidebar'>
  <%= render partial: 'rocket_job_mission_control/jobs/sidebar' if @jobs_sidebar %>
  <%= render partial: 'rocket_job_mission_control/dirmon_entries/sidebar' if @dirmon_sidebar %>
  <%= render partial: 'rocket_job_mission_control/servers/sidebar' if @servers_sidebar %>
</div>
