#sidebar.col-sm-2.col-xs-1.sidebar-offcanvas
  %ul.nav
    %li
      %a.visible-xs{"data-toggle" => "offcanvas", :href => "#"}
        %i.fa.fa-chevron-right
  - if @jobs_sidebar
    = render partial: 'rocket_job_mission_control/jobs/sidebar'
  - if @dirmon_sidebar
    = render partial: 'rocket_job_mission_control/dirmon_entries/sidebar'
  - if @servers_sidebar
    = render partial: 'rocket_job_mission_control/servers/sidebar'
