<div class="col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li>
      <a class="visible-xs" data-toggle="offcanvas" href="#">
        <i class="fa fa-chevron-right"></i>
      </a>
    </li>
  </ul>
  <%= render partial: 'rocket_job_mission_control/jobs/sidebar' if @jobs_sidebar %>
  <%= render partial: 'rocket_job_mission_control/dirmon_entries/sidebar' if @dirmon_sidebar %>
  <%= render partial: 'rocket_job_mission_control/servers/sidebar' if @servers_sidebar %>
</div>
