#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      %a#menu-close.menu-close
        %i.fa.fa-times

    .clearfix

    %li
      = link_to jobs_path, class: active_page(jobs_path) do
        %i.fa.fa-home
        Jobs
    %li
      = link_to workers_path, class: active_page(workers_path) do
        %i.fa.fa-database
        Workers
    %li
      = link_to running_jobs_path, class: active_page(running_jobs_path) do
        %i.fa.fa-circle-o-notch
        Running
