.job-list
  .list
    .row
      .col-sm-10
        %h2 Active Servers
      .col-sm-2
        .btn.btn-default.pull-right.dt-reload{ data: { behavior: 'reload' } }
          %i.fa.fa-refresh
    %table.table.datatable.active-processes-datatable{ style: "width: 100%", data: { source: "#{active_processes_url(format: 'json')}", column_num: 4 } }
      %thead
        %tr
          %th Hostname : PID
          %th Class
          %th Description
          %th Started
      %tbody

:javascript
  jQuery(function() {
    new RjmcDatatable(
      $('.active-processes-datatable'),
      [{data: '0'}, {data: '1'}, {data: '2'}, {data: '3'}],
      {ordering: false, searching: false});
  });
