<div class='container-fluid'>
  <div class="panel panel-default">
    <div class="panel-heading page-title-bar">
      <h2 class='page-title'>Copy Dirmon Entry</h2>
    </div>
  </div>
  <%= render partial: 'form', locals: { action: :replicate} %>
  </div>
