<div class="dirmon-list">
  <div class="list">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="pull-left"><%= @description %> Dirmon Entries</h3>

            <div class="btn btn-warning pull-right dt-reload" data-behavior="reload">
              <i class="fas fa-sync"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <table class="table datatable dirmon-datatable" data-source="<%= @data_table_url %>" style="width: 100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Job Class</th>
              <th>Pattern</th>
            </tr>
          </thead>

          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  jQuery(function () {
    new RjmcDatatable(
      $(".dirmon-datatable"), [{data: '0'}, {data: '1'}, {data: '2'}]
    );
  });
</script>
