<div class='container-fluid'>
  <div class='row'>
    <div class='col-xm-14'>
      <div class="panel panel-default">
        <div class="panel-heading page-title-bar">
          <h2 class='page-title'>New Dirmon Entry</h2>
        </div>
      </div>

      <%= render partial: 'form' %>
    </div>
  </div>
</div>
