<div class='job-list'>
  <div class='list'>
    <div class="card">
      <div class="card-header page-title-bar">
        <div class='row'>
          <div class='col-sm-10'>
            <h2 class='page-title'><i class='fas fa-circle-notch'></i>Active Workers</h2>
          </div>

          <div class='col-sm-2'>
            <div class='btn btn-secondary float-end dt-reload' data-behavior='reload'>
              <i class='fas fa-sync'></i>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <% if @server_name %>
          <h4><%= "For Server: #{@server_name}" %></h4>
        <% end %>

        <% if @job %>
          <h4> For Job: <%= link_to(@job.class.name, job_path(@job)) %> ID:<%= link_to(@job.id, job_path(@job)) %></h4>
        <% end %>

        <table class='table datatable active-workers-datatable' data-source='<%= active_workers_url(format: 'json', job_id: @job&.id, server_name: @server_name) %>' style='width: 100%'>
          <thead>
            <tr>
              <th>Worker Name</th>
              <th>Server</th>
              <th>Class</th>
              <th>Description</th>
              <th>Started</th>
            </tr>
          </thead>

          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  jQuery(function() {
    new RjmcDatatable(
      $('.active-workers-datatable'),
      [{data: '0'}, {data: '1'}, {data: '2'}, {data: '3'}, {data: '4'}],
      { ordering: false, searching: false });
  });
</script>
